name: Build FileMind

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest-small    # macOS Intel x86_64
          - macos-latest-large    # macOS ARM64 (M 系列)

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract Version
        id: get_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -r requirements.txt
          python -m pip install pyinstaller

      - name: Build app
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            pyinstaller --onefile --add-data "web;web" --icon=icon.ico api/FileMind.py

          elif [ "${{ runner.os }}" = "Linux" ]; then
            pyinstaller --onefile --add-data "web:web" api/FileMind.py

          elif [ "${{ runner.os }}" = "macOS" ]; then
            pyinstaller --onefile --add-data "web:web" --icon=icon.icns api/FileMind.py
          fi

      - name: Rename output with version
        run: |
          mkdir output
          for f in dist/*; do
            base=$(basename "$f")
            ext=""
            if [[ "$base" == *.exe ]]; then ext=".exe"; fi

            mv "$f" "output/FileMind-${{ runner.os }}-${{ runner.arch }}-${VERSION}${ext}"
          done

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FileMind-${{ runner.os }}-${{ runner.arch }}-${{ env.VERSION }}
          path: output/*
